<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body class="">
    <form method="POST" enctype="multipart/form-data" class="formLogin">
        {% csrf_token %}
        <div class="containerFormAvatar">
            <h2 class="formTitle">Perfil de Usuario</h2>
            {% if messages %}
                <div id="popup" class="popup">                
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="formGroup">                
                <div class="avatarContainer">
                    {% if profile.avatar %}
                        <div class="avatarImageContainer">
                            <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatarImage">
                        </div>
                    {% endif %}                    
                </div>
                <div class="avatarInputContainer">
                    <input type="file" name="avatar" accept="image/*" id="{{ form.avatar.id_for_label }}">
                </div>
            </div>
        </div>

        <div class="containerFormProfile">            
            <div class="formGroupProfile">
                <label for="{{ form.username.id_for_label }}" class="formLabel">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="formGroupProfile">
                <label for="{{ form.first_name.id_for_label }}" class="formLabel">Nombre:</label>
                {{ form.first_name }}
            </div>
            <div class="formGroupProfile">
                <label for="{{ form.last_name.id_for_label }}" class="formLabel">Apellido:</label>
                {{ form.last_name }}
            </div>
            <div class="formGroupProfile">
                <label for="{{ form.email.id_for_label }}" class="formLabel">Correo electrónico:</label>
                {{ form.email }}
            </div>
            <div class="formGroupProfile">
                <label for="{{ form.country.id_for_label }}" class="formLabel">País:</label>
                {{ form.country }}
            </div>  
            <div class="formGroupProfileDescription">
                <label for="{{ form.description.id_for_label }}" class="formLabel">Descripción:</label>                
                <div class="inputContainerDescription">
                    <textarea name="{{ form.description.name }}" placeholder="{{ profile.description }}" maxlength="200" class="customTextarea"></textarea>
                </div>                
            </div>                                     
            <div class="formGroupProfileBirthdate">
                <label for="{{ form.dateOfBirth.id_for_label }}" class="formLabel">Fecha de nacimiento:</label>
                <span class="currentDateOfBirth" style="color: white;">( <strong>{{ form.dateOfBirth.value }}</strong> )</span>
                <input type="date" name="{{ form.dateOfBirth.name }}" placeholder="Fecha de nacimiento" class="customDateInput">
            </div>
            <div class="formGroupProfile">
                <label for="{{ form.website.id_for_label }}" class="formLabel">Enlace a página web:</label>
                {{ form.website }}
            </div>     
        </div>
        <div class="formGroup">
            <button type="submit" class="formButtonProfile">Guardar cambios</button>
        </div>
        <div class="formGroup">
            <a href="{% url 'inicio' %}" class="formButtonProfile customButton">Volver a la pagina de inicio</a>
        </div>
        {{ form.non_field_errors }}
    </form>
    <hr class="formSeparator">
    <h3 class="formSectionTitle">Configuración de Privacidad</h3>
    <div class="formSectionTitleContainer">            
        <div class="buttonsContainer">
            <a href="{% url 'changePassword' %}" class="changePasswordButton">Cambiar Contraseña</a>
            <a href="{% url 'deleteUser' %}" class="deleteUserButton">Eliminar usuario</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var popup = document.getElementById('popup');

            if (popup) {
                setTimeout(function () {
                    popup.style.display = 'none';
                }, 3000);
            }
        });
    </script>      
</body>
</html>
