<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body class="loginBody">
    <div class="containerForm" style="margin-top: auto">
        <form method="POST" enctype="multipart/form-data" class="formLogin">
            {% csrf_token %}
            <h2 class="formTitle">Perfil de Usuario</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="formGroup">
                <label for="{{ form.username.id_for_label }}" class="formLabel">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="formGroup">
                <label for="{{ form.email.id_for_label }}" class="formLabel">Correo electrónico:</label>
                {{ form.email }}
            </div>            
            <div class="formGroup">
                <label for="{{ form.avatar.id_for_label }}" class="formLabel">Avatar:</label>
                <div class="avatarContainer">
                    {% if profile.avatar %}
                        <div class="avatarImageContainer">
                            <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatarImage">
                        </div>
                    {% endif %}                    
                </div>
                <div class="avatarInputContainer">
                    <input type="file" name="avatar" accept="image/*" id="{{ form.avatar.id_for_label }}">
                </div>
            </div>
            <div class="formGroup">
                <label for="{{ form.first_name.id_for_label }}" class="formLabel">Nombre:</label>
                {{ form.first_name }}
            </div>
            <div class="formGroup">
                <label for="{{ form.last_name.id_for_label }}" class="formLabel">Apellido:</label>
                {{ form.last_name }}
            </div>
            <div class="formGroup">
                <label for="{{ form.description.id_for_label }}" class="formLabel">Descripción:</label>
                {{ form.description }}
            </div>
            <div class="formGroup">
                <label for="{{ form.website.id_for_label }}" class="formLabel">Enlace a página web:</label>
                {{ form.website }}
            </div>
            <button type="submit" class="formButton">Guardar cambios</button>
            <a href="{% url 'inicio' %}" class="formButton customButton">Volver a la pagina de inicio</a>
            {{ form.non_field_errors }}
        </form>
        <hr class="formSeparator">
        <h3 class="formSectionTitle">Configuración de Privacidad</h3>
        <div class="formSectionTitleContainer">            
            <div class="buttonsContainer">
                <a href="{% url 'changePassword' %}" class="changePasswordButton">Cambiar Contraseña</a>
                <a href="{% url 'deleteUser' %}" class="deleteUserButton">Eliminar usuario</a>
            </div>
        </div>
    </div>
</body>
</html>
